# Исключаем виртуальное окружение
venv/
.venv/

# Исключаем файлы и папки связанные с системами контроля версий
.git
.gitignore

# Исключаем файлы среды разработки
.vscode/
.idea/

# Исключаем файлы среды окружения
.env

# Исключаем лог-файлы
*.log

# Исключаем файлы кэша
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем специфичные для операционной системы файлы
.DS_Store
Thumbs.db
