# Исключаем виртуальное окружение
venv/
.venv/

# Исключаем файлы и папки связанные с системами контроля версий
.DS_Store
Thumbs.db

# Исключаем файлы среды разработки
.vscode/
.idea/

# Исключаем файлы среды окружения
.env

# Исключаем лог-файлы
*.log

# Исключаем файлы кэша
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем выходные файлы
*.egg-info/
dist/
build/
